<!DOCTYPE html>
<html>
<head>
	<title>Book Catalog app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <h1>Search Google Books</h1>
    <p>Enter a book title to search:</p>
    
    <div class="container">
        <form class="form" action="/searchAPI" method="POST">
          <input type="text" name="searchText">
          <input type="submit" value="Search">
        </form>
        <br>
        <p><%= message %></p>
        <form class="form" action="/getDetails" method="POST">
            <ul><% for (var i = 0; i < listOfBooks.length; i++)  { %>
                <li> <%= listOfBooks[i] %> <input type="submit" value="Details">
                <input type="hidden" name="id" value="<%= listOfIDs[i] %>"> </li>
                <% } %>
            </ul>
        </form> 

        <form class="form" action="/getDetails" method="POST">
            <ul><% for (var i = 0; i < listOfBooks.length; i++)  { %>
                <input type="checkbox" name="test" value="<%= listOfIDs[i] %>"><%= listOfBooks[i] %><br>
                <% } %>
            </ul>
            <input type="submit" value="Details">
        </form> 
        <p><%= description%></p>
    </div>

    <!--<div class="container">
        <form class="form" action="/getBook" method="POST">
          <input type="text" name="searchText">
          <input type="submit" value="Search">
        </form>
        <br>
        <li id="ulResults"></li>
    </div>-->

</body>
</html>