<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Catalog app</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <header>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Search Google Books</h1>            
        </div>
                            
        <div class="container" style="margin-top:30px">
            <p>Enter a book title to search:</p>
            <form class="form-group" action="/searchAPI" method="POST">
                <input type="text" class="form-control" name="searchText">
                <input type="submit" class="btn btn-outline-primary" value="Search">
            </form>
        </div>
    </header>
    
    
    <!--<div class="container" style="margin-top:30px">
        <p><%= message %></p>
        <form class="form-check" action="/getDetails" method="POST">
            <ul><% for (var i = 0; i < listOfBooks.length; i++)  { %>
                <input type="radio" class="form-check-input" name="id" value="<%= listOfIDs[i] %>"><%= listOfBooks[i] %><br>
                <% } %>
            </ul>
            <input class="<%= btn_vis %> btn btn-outline-primary" type="submit" value="Details">
        </form> 
        
        <img src="<%= imageURL %>" class="<%= img_vis %> img-thumbnail" alt="Book Image">
        <p class="<%= img_vis %>">Title: <strong><%= title%></strong></p>
        <p class="<%= img_vis %>">Author: <%= author %></p>
        <p class="<%= img_vis %>">Publisher: <% publisher %></p>
        <p class="<%= img_vis %>">Date published: <%= publishedDate%></p>
        <p class="<%= img_vis %>">Description: <%= description%></p>
    </div>-->

    <!--<div class="container">
        <form class="form-group" action="/getBook" method="POST">
          <input type="text" name="searchText">
          <input type="submit" value="Search">
        </form>
        <br>
        <li id="ulResults"></li>
    </div>-->

</body>
</html>