<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
        
</head>
<body class="container">
    <header>
        <%- include ('partials/header') %>
    </header>

    <h3>Here are the details for your selected book:</h3>
    
    <img src="<%= imageURL %>" class="img-thumbnail" alt="Book Image">
    <p>Title: <strong><%= title%></strong></p>
    <p>Author: <%= author %></p>
    <p>Publisher: <% publisher %></p>
    <p>Date published: <%= publishedDate %></p>
    <p>Description: <%= description %></p>
    <p>GoogleBooks Id: <%= id %></p>

    <p class="<%= inDB %>">Would you like to add this book to your personal library?</p>
    <form class="form-group <%= inDB %>" action="/saveBook" method="POST">
        <input type="hidden" name="googleBookID" value="<%= id %>">
        <input type="hidden" name="title" value="<%= title %>">
        <input type="hidden" name="author" value="<%= author %>">

        <input type="submit" class="btn btn-outline-primary <%= inDB %>" value="Add to my Catalog">
    </form>

    <%- include ('partials/catalog') %>

    <footer>
        <%- include ('partials/footer') %>
    </footer>
</body>
</html>
